<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-5">
  <div class="col-md-8 offset-md-2">

    <div class="card p-4 shadow-sm">
      <h3 class="mb-4 text-center"> Create a New Listing </h3>

      <form method="POST" action="/listings" novalidate class="needs-validation">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" class="form-control" placeholder="Add a catchy title" required>
          <div class="valid-feedback"> Title Looks good! </div>
        </div>
        

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" name="listing[description]" class="form-control" placeholder="Short description" required>
          <div class="invalid-feedback"> Please enter a short description </div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input type="text" name="listing[image]" class="form-control" placeholder="Paste image URL here" required>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" class="form-control" placeholder="Enter price" required>
            <div class="invalid-feedback"> Please enter a valid price </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" placeholder="Enter country" required>
             <div class="invalid-feedback"> Country should be valid </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" class="form-control" placeholder="Enter location" required>
          <div class="invalid-feedback"> Loaction should be valid </div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Add</button>
      </form>
    </div>

  </div>
</div>
